{% extends "base.html" %}

{% block title %}
SOOON.profile
{% endblock %}

{% block body %}
<div class="container pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-left">
    <h1 class="display-4">Собери свою<br>команду с SOOON</h1>
      <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h2 class="card-title">Название карточки</h2>
  </div>
</div>
{% endblock %}